body {
  overflow: hidden;
}
div.textarea-container, div.box-container {
  padding: 5% 20%;
}
div.header {
  border-bottom: 3px solid white;
  padding: 1.5% 10% 0;
}
div.column-header {
  padding: 5% 20% 0;
}
label.checkbox {
  margin-top: 5%;
  display: none;
}
div.box {
  height: 150px;
  font-size: 120%;
}
